<div class="container">
  <h4><%= link_to "Return to Simpson's products", products_path %></h4>
</div>
<hr>

<h3 align="center">New York Times best selling books this week</h3>
<div class="container">
  <div class="thumbnail">
    <% data = JSON.parse(@response) %>
    <% data["results"]["books"].each do |book| %>
      <%= book["rank"] %>: <%= book["title"].titleize %>, by <%= book["author"] %> 
      <br>
    <% end %>
  </div>
</div>

<hr>
<div class="container">
  <%=  @response %>
</div>
