<%= render "layouts/errors", :object => @product %>

<div class="container">
<%= form_for @product, remote: true do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :name, "Name"%>
      <%= f.text_field :name, size: 30 %>
    </div>
    <div class="col-md-6">
    <%= f.label :description, "Description" %>
    <%= f.text_area :description, size: "40x10"%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    <%= f.label :price, "Price" %>
    <%= f.number_field :price %>
    </div>
    <div class="col-md-6">
      <%= f.submit "Update or Add Product" %>
    </div>
  </div>
<% end %>
</div>

<hr>
<div class="container">
  <h4><%= link_to "Go Home", products_path %></h4>
</div>
