<div class="container">
  <div class="jumbotron" align="center">
    <h2>Simpsons Action Figures Outlet</h2>
  </div>
</div>

<div class="container">
  <% @products.each do |product| %>
  <div class="row">
    <div class="col-md-12" align="center">
      <div class="thumbnail">
      <p><%= link_to product.name, product_path(product) %> | <%= number_to_currency product.price %>
      <p><%= product.description %>
      <%= form_for @order_item do |f| %>
        <%= f.hidden_field :product_id, value: product.id %>
        <%= f.number_field :quantity %>
        <%= f.submit "Add to cart" %>
      <% end %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
<hr>
<div class="container">
  <h4>Admin: <%= link_to "Add a product", new_product_path %></h4>
</div>

<hr>
<div class="container">
  <h4><%= link_to "Check out your shopping cart", cart_path %></h4>
</div>

<div class="container">
  <h4><%= link_to "New York Times bestsellers this week (also a nasty NYT API call)", book_path %></h4>
</div>
